{% extends 'base.html' %} 
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">Navbar</div>
	    <div class="col-md-12 mb-3">
			<a href="/image/view/{{ image_id }}" class="btn btn-sm btn-light">Back</a>
	    </div>
        
        <!-- Histogram Red -->
        <div class="col-md-4 mb-3 mx-auto">
            <div class="bg-info border-info rounded-top p-1">
                <div class="row">
                    <div class="col-8"><h6 class="text-light mt-1 px-3 ">Histogram Red</h6></div>
                </div>
            </div>
            <div class="p-3 border border-info rounded-bottom">
                <div class="row">
                    <div class="col text-center">
						<img id="image" src="{{ red_url }}" class="img-fluid">
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- Histogram Green -->
        <div class="col-md-4 mb-3 mx-auto">
            <div class="bg-info border-info rounded-top p-1">
                <div class="row">
                    <div class="col-8"><h6 class="text-light mt-1 px-3 ">Histogram Green</h6></div>
                </div>
            </div>
            <div class="p-3 border border-info rounded-bottom">
                <div class="row">
                    <div class="col text-center">
						<img id="image" src="{{ green_url }}" class="img-fluid">
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- Histogram Blue -->
        <div class="col-md-4 mb-3 mx-auto">
            <div class="bg-info border-info rounded-top p-1">
                <div class="row">
                    <div class="col-8"><h6 class="text-light mt-1 px-3 ">Histogram Blue</h6></div>
                </div>
            </div>
            <div class="p-3 border border-info rounded-bottom">
                <div class="row">
                    <div class="col text-center">
						<img id="image" src="{{ blue_url }}" class="img-fluid">
                    </div>
                    
                </div>
            </div>
        </div>
               
        <!-- Histogram RGB -->
        <div class="col-md-4 mb-3 mx-auto">
            <div class="bg-info border-info rounded-top p-1">
                <div class="row">
                    <div class="col-8"><h6 class="text-light mt-1 px-3 ">Histogram RGB</h6></div>
                </div>
            </div>
            <div class="p-3 border border-info rounded-bottom">
                <div class="row">
                    <div class="col text-center">
						<img id="image" src="{{ rgb_url }}" class="img-fluid">
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- Histogram Grayscale -->
        <div class="col-md-4 mb-3 mx-auto">
            <div class="bg-info border-info rounded-top p-1">
                <div class="row">
                    <div class="col-8"><h6 class="text-light mt-1 px-3 ">Histogram Grayscale</h6></div>
                </div>
            </div>
            <div class="p-3 border border-info rounded-bottom">
                <div class="row">
                    <div class="col text-center">
						<img id="image" src="{{ gray_url }}" class="img-fluid">
                    </div>
                    
                </div>
            </div>
        </div>
        
        <!-- Histogram Equaization -->
        <div class="col-md-4 mb-3 mx-auto">
            <div class="bg-info border-info rounded-top p-1">
                <div class="row">
                    <div class="col-8"><h6 class="text-light mt-1 px-3 ">Histogram Equalization</h6></div>
                </div>
            </div>
            <div class="p-3 border border-info rounded-bottom">
                <div class="row">
                    <div class="col text-center">
						<img id="image" src="{{ eq_url }}" class="img-fluid">
                    </div>
                    
                </div>
            </div>
        </div>
         
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $("#rotate").on('click', function(){
      var degree = $("#degree").val()
      if (degree ==""){degree = 0}
      $("#rotate").attr('href', "/image/view/{{ image_id }}/rotate/"+degree);
    });
    
    $("#crop").on('click', function(){
      var left = $("#crop-left").val()
      if (left ==""){left = 0}
      var right = $("#crop-right").val()
      if (right ==""){right = 0}
      var top = $("#crop-top").val()
      if (top ==""){top = 0}
      var bottom = $("#crop-bottom").val()
      if (bottom ==""){bottom = 0}
      $("#crop").attr('href', "/image/view/{{ image_id }}/crop/"+left+"/"+top+"/"+right+"/"+bottom);
    });
    
    $("#cut").on('click', function(){
      var left = $("#cut-left").val()
      if (left ==""){left = 0}
      var right = $("#cut-right").val()
      if (right ==""){right = 0}
      var top = $("#cut-top").val()
      if (top ==""){top = 0}
      var bottom = $("#cut-bottom").val()
      if (bottom ==""){bottom = 0}
      
      var x = $("#x-paste").val()
      if (x ==""){x = 0}
      var y = $("#y-paste").val()
      if (y ==""){y = 0}
      $("#cut").attr('href', "/image/view/{{ image_id }}/cut/"+left+"/"+top+"/"+right+"/"+bottom+"/"+x+"/"+y);
    });
</script>
{% endblock %}
