{% extends 'base.html' %} 
{% load static %}

{% block css %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">Navbar</div>

        <div class="col-md-8 mb-3 mx-auto">
			<div class="row">
				<div class="col-md-6 mb-3 mx-auto">
					<!-- Basic Information -->
					<div class="bg-info border-info rounded-top p-1">
						<div class="row">
							<div class="col-8"><h6 class="text-light mt-1 px-3 ">{{ image_name }}</h6></div>
							<div class="col text-right">
								<a href="/image/view/{{ image_id }}" class="btn btn-sm btn-info">Reset</a>
							</div>
						</div>

					</div>
					<div class="p-3 border border-info rounded-bottom">
						<div class="row">
							<div class="col-4">Size</div>
							<div class="col-1">:</div>
							<div class="col">{{ image_width }}x{{ image_height }} px</div>
						</div>
						
						<div class="row">
							<div class="col-4">Mode</div>
							<div class="col-1">:</div>
							<div class="col">{{ image_mode }}</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 mb-3 mx-auto">
					<!-- Color Space -->
					<div class="bg-info border-info rounded-top p-1">
						<div class="row">
							<div class="col-8"><h6 class="text-light mt-1 px-3 ">Color Space</h6></div>
						</div>
					</div>
					<div class="p-3 border border-info rounded-bottom">
						<div class="row">
							<div class="col-4 mb-2"><a href="/image/view/{{ image_id }}/rgb" class="btn btn-block btn-danger">RGB</a></div>
							<div class="col-4 mb-2"><a href="/image/view/{{ image_id }}/hsv" class="btn btn-block btn-success disabled">HSV</a></div>
							<div class="col-4 mb-2"><a href="/image/view/{{ image_id }}/gray" class="btn btn-block btn-secondary">Gray</a></div>
						</div>
					</div>
				</div>
            </div>
            
            <div class="row mb-1">
                <div class="col mb-3">
                    <a href="/image/view/{{ image_id }}/sampling" class="btn btn-block btn-info mb-2 disabled">Sampling</a>
                </div>
                <div class="col mb-3">
                    <a href="/image/view/{{ image_id }}/quantization" class="btn btn-block btn-info mb-2 disabled">Quantization</a>
                </div>
                <div class="col mb-3">
                    <a href="/image/view/{{ image_id }}/dithering" class="btn btn-block btn-info mb-2">Dithering</a>
                </div>
                <div class="col mb-3">
                    <a href="/image/view/{{ image_id }}/halftoning" class="btn btn-block btn-info mb-2">Halftoning</a>
                </div>
            </div>
            <div class="bg-light p-3 text-center border border-info rounded mb-3">
                <div class="table-responsive" style="height:500px">
                    <img id="image" src="{{ image_url }}" style="min-width:500px">
                </div>
            </div>            
        </div>

        <div class="col-md-4 mb-3 mx-auto">
			
			<a href="/image/view/{{ image_id }}/histogram" class="btn btn-block btn-info mb-2">Histogram</a>
			<hr>
			
            <!-- Basic Operation -->
            <div class="bg-info border-info rounded-top p-1">
                <h6 class="text-light mt-1 px-3">Operasi Dasar</h6>
            </div>
            <div class="p-3 border border-info rounded-bottom">
                <div class="row">
                    <div class="col"><a href="/image/view/{{ image_id }}/zoom-out" class="btn btn-block btn-info mb-2">Zoom Out</a></div>
                    <div class="col"><a href="/image/view/{{ image_id }}/zoom-in" class="btn btn-block btn-info mb-2">Zoom In</a></div>
                </div>
                
                <hr>
                <div class="row">
                    <div class="col"><a href="/image/view/{{ image_id }}/flip-vertical" class="btn btn-block btn-info mb-2">Flip Vertical</a></div>
                    <div class="col"><a href="/image/view/{{ image_id }}/flip-horizontal" class="btn btn-block btn-info mb-2">Flip Horizontal</a></div>
                </div>
                
                <hr>
                <div class="row">
                    <div class="col">
                        <input id="degree"  type="number" class="form-control" placeholder="degree" value="90" min="0" max="360">
                    </div>
                    <div class="col">
                        <a id="rotate" href="/image/view/{{ image_id }}/rotate/90" class="btn btn-block btn-info mb-2">Rotate</a>
                    </div>
                </div>
                
                <hr>
                <div class="row mb-2">
                    <div class="col text-right">Crop X :</div>
                    <div class="col">
                        <input id="crop-left"  type="number" class="form-control" placeholder="x0" value="0" min="0" max="{{ image_width }}">
                    </div>
                    <div class="col">
                        <input id="crop-right"  type="number" class="form-control" placeholder="x1" value="50" min="0" max="{{ image_width }}">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col text-right">Crop Y :</div>
                    <div class="col">
                        <input id="crop-top"  type="number" class="form-control" placeholder="y0" value="0" min="0" max="{{ image_height }}">
                    </div>
                    <div class="col">
                        <input id="crop-bottom"  type="number" class="form-control" placeholder="y1" value="50" min="0" max="{{ image_height }}">
                    </div>
                </div>
                <div class="row">			
					<div class="col">
                        <a id="crop" href="/image/view/{{ image_id }}/crop/0/0/50/50" class="btn btn-block btn-info my-1">Crop</a>
                    </div>
                </div>
                
                <hr>
                <div class="row mb-2">
                    <div class="col text-right">Cut X :</div>
                    <div class="col">
                        <input id="cut-left"  type="number" class="form-control" placeholder="left" value="0" min="0" max="{{ image_width }}">
                    </div>
                    <div class="col">
                        <input id="cut-right"  type="number" class="form-control" placeholder="right" value="50" min="0" max="{{ image_width }}">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col text-right">Cut Y :</div>
                    <div class="col">
                        <input id="cut-top"  type="number" class="form-control" placeholder="top" value="0" min="0" max="{{ image_height }}">
                    </div>
                    <div class="col">
                        <input id="cut-bottom"  type="number" class="form-control" placeholder="bottom" value="50" min="0" max="{{ image_height }}">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col text-right">Paste X Y :</div>
                    <div class="col">
                        <input id="x-paste"  type="number" class="form-control" placeholder="x" value="100" min="0" max="{{ image_width }}">
                    </div>
                    <div class="col">
                        <input id="y-paste"  type="number" class="form-control" placeholder="y" value="100" min="0" max="{{ image_height }}">
                    </div>
                </div>
                <div class="row">
					<div class="col">
                        <a id="cut" href="#" class="btn btn-block btn-info my-1">Cut & Paste</a>
                    </div>
                </div>
                
            </div>
			
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $("#rotate").on('click', function(){
      var degree = $("#degree").val()
      if (degree ==""){degree = 0}
      $("#rotate").attr('href', "/image/view/{{ image_id }}/rotate/"+degree);
    });
    
    $("#crop").on('click', function(){
      var left = $("#crop-left").val()
      if (left ==""){left = 0}
      var right = $("#crop-right").val()
      if (right ==""){right = 0}
      var top = $("#crop-top").val()
      if (top ==""){top = 0}
      var bottom = $("#crop-bottom").val()
      if (bottom ==""){bottom = 0}
      $("#crop").attr('href', "/image/view/{{ image_id }}/crop/"+left+"/"+top+"/"+right+"/"+bottom);
    });
    
    $("#cut").on('click', function(){
      var left = $("#cut-left").val()
      if (left ==""){left = 0}
      var right = $("#cut-right").val()
      if (right ==""){right = 0}
      var top = $("#cut-top").val()
      if (top ==""){top = 0}
      var bottom = $("#cut-bottom").val()
      if (bottom ==""){bottom = 0}
      
      var x = $("#x-paste").val()
      if (x ==""){x = 0}
      var y = $("#y-paste").val()
      if (y ==""){y = 0}
      $("#cut").attr('href', "/image/view/{{ image_id }}/cut/"+left+"/"+top+"/"+right+"/"+bottom+"/"+x+"/"+y);
    });
</script>
{% endblock %}
